In [1]:
import pandas as pd

Test Accuracy Score LOgisticREgression 0.3482514262169425
[[     0      0      0  18665      0]
 [     0      0      0  35593      0]
 [     0      0      0  86189      0]
 [     0      0      0 114947      0]
 [     0      0      0  74675      0]]
The confusion matrix you provided appears to be a 5x5 matrix representing the results of a logistic regression model. However, all the values in the matrix are zero, which suggests that the model did not make any predictions or classify any instances into different categories.


***
 Test Accuracy Score DEcision Tree  0.34038337438535576
[[ 2868  2722  5719  6022  1334]
 [ 2832  4475 12011 13408  2867]
 [ 3863  7624 27530 37719  9453]
 [ 3070  6739 30136 55721 19281]
 [ 1331  2963 14332 34293 21756]]

 Interpreting the confusion matrix:

The diagonal elements (from top-left to bottom-right) represent the counts of correct predictions for each class. For example, the value 2868 represents the count of instances correctly predicted as class 1, 4475 represents the count of instances correctly predicted as class 2, and so on.
The off-diagonal elements represent the misclassifications. For example, the value 2722 represents the count of instances predicted as class 2 while their true class was 1, 5719 represents the count of instances predicted as class 3 while their true class was 1, and so on.
Additionally, the test accuracy score of approximately 0.3404 indicates that the classifier achieved an accuracy of around 34% on the test dataset.

In [1]:

from itertools import product
param_values = {
    'k': [10, 20, 30],
    'min_k': [1, 3, 5],
    'sim_options': {
        'name': ['cosine', 'pearson'],
        'user_based': [True, False]
    }
}

param_combinations = list(product(*param_values.values()))
param_combinations

[(10, 1, 'name'),
 (10, 1, 'user_based'),
 (10, 3, 'name'),
 (10, 3, 'user_based'),
 (10, 5, 'name'),
 (10, 5, 'user_based'),
 (20, 1, 'name'),
 (20, 1, 'user_based'),
 (20, 3, 'name'),
 (20, 3, 'user_based'),
 (20, 5, 'name'),
 (20, 5, 'user_based'),
 (30, 1, 'name'),
 (30, 1, 'user_based'),
 (30, 3, 'name'),
 (30, 3, 'user_based'),
 (30, 5, 'name'),
 (30, 5, 'user_based')]

In [3]:
movies_dt = pd.read_csv('data_test/movies.csv')
# movie_dt = pd.read_csv('D:/Columbia/fall 2020/IEOR 4571/HW2/ml-latest/movies.csv')
movies_dt

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

Rating  is of the categorical data type.